<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tmcindonesia">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TMC_Explorer">
        <activity android:name=".content.tmc_SeeAndDo1.questions.LESSON1"></activity>
        <activity android:name=".content.tmc_SeeAndDo2.HomeSeeAndDo2" />
        <activity android:name=".content.tmc_SeeAndDo2.lessons.SD2Lesson7Read" />
        <activity android:name=".content.tmc_SeeAndDo2.lessons.SD2Lesson6Read" />
        <activity android:name=".content.tmc_SeeAndDo2.lessons.SD2Lesson5Read" />
        <activity android:name=".content.tmc_SeeAndDo2.lessons.SD2Lesson4Read" />
        <activity android:name=".content.tmc_SeeAndDo2.lessons.SD2Lesson3Read" />
        <activity android:name=".content.tmc_SeeAndDo2.lessons.SD2Lesson2Read" />
        <activity android:name=".content.tmc_SeeAndDo2.lessons.SD2Lesson1Read" />
        <activity android:name=".content.tmc_SeeAndDo1.HomeSeeAndDo1" />
        <activity android:name=".content.tmc_SeeAndDo1.lessons.SD1Lesson7Read" />
        <activity android:name=".content.tmc_SeeAndDo1.lessons.SD1Lesson6Read" />
        <activity android:name=".content.tmc_SeeAndDo1.lessons.SD1Lesson5Read" />
        <activity android:name=".content.tmc_SeeAndDo1.lessons.SD1Lesson4Read" />
        <activity android:name=".content.tmc_SeeAndDo1.lessons.SD1Lesson3Read" />
        <activity android:name=".content.tmc_SeeAndDo1.lessons.SD1Lesson2Read" />
        <activity android:name=".content.tmc_SeeAndDo1.lessons.SD1Lesson1Read" />
        <activity android:name=".content.tmc_Explorer2.questions.LESSON12" />
        <activity android:name=".content.tmc_Explorer2.questions.LESSON11" />
        <activity android:name=".content.tmc_Explorer2.questions.LESSON10" />
        <activity android:name=".content.tmc_Explorer2.questions.LESSON9" />
        <activity android:name=".content.tmc_Explorer2.questions.LESSON8" />
        <activity android:name=".content.tmc_Explorer2.questions.LESSON7" />
        <activity android:name=".content.tmc_Explorer2.questions.LESSON6" />
        <activity android:name=".content.tmc_Explorer2.questions.LESSON5" />
        <activity android:name=".content.tmc_Explorer2.questions.LESSON4" />
        <activity android:name=".content.tmc_Explorer2.questions.LESSON3" />
        <activity android:name=".content.tmc_Explorer2.questions.LESSON2" />
        <activity android:name=".content.tmc_Explorer2.questions.LESSON1" />
        <activity
            android:name=".application.RegisterPage.RegisterPageParent"
            android:theme="@style/Theme.TMC_LoginRegister" />
        <activity
            android:name=".application.RegisterPage.RegisterPageDate"
            android:theme="@style/Theme.TMC_LoginRegister" />
        <activity android:name=".content.tmc_Explorer2.HomeExplorer2" />
        <activity
            android:name=".application.HomeApp"
            android:label="@string/title_activity_home_app"
            android:theme="@style/Theme.TMC_Explorer.NoActionBar" />
        <activity android:name=".content.tmc_Explorer1.TmcProfile" />
        <activity android:name=".content.tmc_Explorer1.questions.LESSON12" />
        <activity android:name=".content.tmc_Explorer1.questions.LESSON11" />
        <activity android:name=".content.tmc_Explorer1.questions.LESSON10" />
        <activity android:name=".content.tmc_Explorer1.questions.LESSON9" />
        <activity android:name=".content.tmc_Explorer1.questions.LESSON8" />
        <activity android:name=".content.tmc_Explorer1.questions.LESSON7" />
        <activity android:name=".content.tmc_Explorer1.questions.LESSON6" />
        <activity android:name=".content.tmc_Explorer1.questions.LESSON5" />
        <activity android:name=".content.tmc_Explorer1.questions.LESSON4" />
        <activity android:name=".content.tmc_Explorer1.questions.LESSON3" />
        <activity android:name=".content.tmc_Explorer1.questions.LESSON2" />
        <activity android:name=".content.tmc_Explorer1.questions.LESSON1" />
        <activity android:name=".content.tmc_Explorer1.lessons.Lesson5Read" />
        <activity android:name=".content.tmc_Explorer1.lessons.Lesson12Read" />
        <activity android:name=".content.tmc_Explorer1.lessons.Lesson11Read" />
        <activity android:name=".content.tmc_Explorer1.lessons.Lesson10Read" />
        <activity android:name=".content.tmc_Explorer1.lessons.Lesson9Read" />
        <activity android:name=".content.tmc_Explorer1.lessons.Lesson8Read" />
        <activity android:name=".content.tmc_Explorer1.lessons.Lesson7Read" />
        <activity android:name=".content.tmc_Explorer1.lessons.Lesson6Read" />
        <activity android:name=".content.tmc_Explorer1.lessons.Lesson4Read" />
        <activity android:name=".content.tmc_Explorer1.lessons.Lesson3Read" />
        <activity android:name=".content.tmc_Explorer1.lessons.Lesson2Read" />
        <activity android:name=".content.tmc_Explorer1.lessons.Lesson1Read" />
        <activity android:name=".content.tmc_Explorer2.lessons.Exp2Lesson1Read" />
        <activity android:name=".content.tmc_Explorer2.lessons.Exp2Lesson2Read" />
        <activity android:name=".content.tmc_Explorer2.lessons.Exp2Lesson3Read" />
        <activity android:name=".content.tmc_Explorer2.lessons.Exp2Lesson4Read" />
        <activity android:name=".content.tmc_Explorer2.lessons.Exp2Lesson5Read" />
        <activity android:name=".content.tmc_Explorer2.lessons.Exp2Lesson6Read" />
        <activity android:name=".content.tmc_Explorer2.lessons.Exp2Lesson7Read" />
        <activity android:name=".content.tmc_Explorer2.lessons.Exp2Lesson8Read" />
        <activity android:name=".content.tmc_Explorer2.lessons.Exp2Lesson9Read" />
        <activity android:name=".content.tmc_Explorer2.lessons.Exp2Lesson10Read" />
        <activity android:name=".content.tmc_Explorer2.lessons.Exp2Lesson11Read" />
        <activity android:name=".content.tmc_Explorer2.lessons.Exp2Lesson12Read" />
        <activity
            android:name=".content.tmc_Explorer1.HomeExplorer1"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.TMC_Explorer.NoActionBar" />
        <activity
            android:name=".application.RegisterPage.RegisterActivity"
            android:theme="@style/Theme.TMC_LoginRegister" />
        <activity
            android:name=".application.LoginActivity"
            android:theme="@style/Theme.TMC_LoginRegister">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>