<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tmcindonesia.tmc_explorer">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TMC_Explorer">
        <activity android:name=".questions.LESSON12"></activity>
        <activity android:name=".questions.LESSON11" />
        <activity android:name=".questions.LESSON10" />
        <activity android:name=".questions.LESSON9" />
        <activity android:name=".lessons.Lessons" />
        <activity android:name=".questions.Questions" />
        <activity android:name=".questions.LESSON8" />
        <activity android:name=".questions.LESSON7" />
        <activity android:name=".questions.LESSON6" />
        <activity android:name=".questions.LESSON5" />
        <activity android:name=".questions.LESSON4" />
        <activity android:name=".questions.LESSON3" />
        <activity android:name=".questions.LESSON2" />
        <activity android:name=".questions.LESSON1" />
        <activity android:name=".lessons.Lesson5Read" />
        <activity android:name=".lessons.Lesson12Read" />
        <activity android:name=".lessons.Lesson11Read" />
        <activity android:name=".lessons.Lesson10Read" />
        <activity android:name=".lessons.Lesson9Read" />
        <activity android:name=".lessons.Lesson8Read" />
        <activity android:name=".lessons.Lesson7Read" />
        <activity android:name=".lessons.Lesson6Read" />
        <activity android:name=".lessons.Lesson4Read" />
        <activity android:name=".lessons.Lesson3Read" />
        <activity android:name=".lessons.Lesson2Read" />
        <activity android:name=".lessons.Lesson1Read" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.TMC_Explorer.NoActionBar" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>